head{
 background-color: #2F5755;
}
body{
 background-color: #2F5755;
 font-family:'Courier New', Courier, monospace;
}
li{
 color: #E0D9D9;
}
ul{
 color: #E0D9D9;
}
p{
 color: #E0D9D9;
}
h1{
 color: #E0D9D9;
}
a{
    color: #E0D9D9;
}
.button{
    color:#2F5755;
    border-color: #5A9690;
}
